arget/
!.mvn/wrapper/maven-wrapper.jar

api/target/
controller/target/
service/target/
service/src/main/resources/generatorConfig.xml
### IntelliJ IDEA ###
.idea
*.iws
*.iml
out/

### Maven template
### pom.xml
web.iml

mvnw
mvnw.cmd
.mvn
#
#out/artifacts/controller_war_exploded/WEB-INF/
#service/src/test/
#.svn/tmp/
#xingwang-api/target/generated-sources/
#xingwang-service/target/generated-sources/
#xingwang-web/target/generated-sources/
