<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xw.milk.mapper.BasProductMapper" >
  <resultMap id="BaseResultMap" type="com.xw.milk.model.BasProduct" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_size" property="productSize" jdbcType="VARCHAR" />
    <result column="product_brand" property="productBrand" jdbcType="VARCHAR" />
    <result column="product_discount" property="productDiscount" jdbcType="DECIMAL" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xw.milk.model.BasProduct" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="product_intro" property="productIntro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, product_name as productName, product_size as productSize, product_brand as productBrand,
    product_discount as productDiscount, parent_id as parentId, product_price as productPrice,
    temp1, temp2
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    product_intro as productIntro
  </sql>
</mapper>