<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xw.milk.mapper.BasUserMapper" >
  <resultMap id="BaseResultMap" type="com.xw.milk.model.BasUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, open_id as openId, username, mobile, type, addtime, last_login_ip as lastLoginIp, last_login_time as lastLoginTime, addip
  </sql>

  <select id="getList" parameterType="Map" resultType="BasUser">
    SELECT <include refid="Base_Column_List"/>
    FROM  bas_user
    <where>
      <if test="username!=null and username!=''">
        and  username = #{username}
      </if>
     <if test="mobile!=null and mobile!=''">
       and mobile = #{mobile}
      </if>
     <if test="type!=null and type!=''">
       and type = #{type}
      </if>
    </where>
  </select>
  <!--修改用户类型-->
  <update id="modifyUserType" parameterType="Map" >
    UPDATE bas_user u set type = #{newType} where u.id = #{userId} and u.open_id = #{openId}
  </update>

  <!--注册用户-->

  <insert id="registerUser" parameterType="map" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO bas_user(open_id ,type ,last_login_ip,last_login_time,addip)
    VALUES (#{openId},#{type},#{ip},#{time},#{ip})
  </insert>

  <!--更新用户名-->
  <update id="updateUserName" >
    UPDATE bas_user u
    <set>
      u.username = #{username}
    </set>
    where u.id = #{userId}
  </update>

  <select id="getUserByOpenId" parameterType="map" resultType="BasUserVO">
    SELECT <include refid="Base_Column_List"/>
    ,wx.groupid as groupId,wx.head_img_url as headImgUrl,wx.nick_name as nickName
    from bas_user u LEFT JOIN bas_wx wx ON wx.open_id = u.open_id
    <where>
      <if test="openId!=null and openId!=''">
        and open_id = #{openId}
      </if>
      <if test="id!=null and id>0">
        and u.id = #{id}
      </if>

    </where>
  </select>

  <update id="bindMobile" parameterType="Map">
    UPDATE bas_user u SET  u.mobile = #{mobile}
  <where>
    <choose >
     <when test="userId!=null and userId>0">
        u.id = #{userId}
     </when>
      <when test="openId!=null and openId!=''">
        u.open_id = #{openId}
      </when>
    </choose>
  </where>
  </update>
</mapper>